<extend name="Public/base"/>

<block name="right">
  <div class="main-container">
    <div class="row">
      <div class="col-xs-3 ">
          <a class="btn   btn-success btn-flat" href="{:U('add',array('pid'=>I('get.pid',0)))}">新&nbsp;增</a>&nbsp;
          <a class="btn   btn-info btn-flat" href="{:U('import',array('pid'=>I('get.pid',0)))}">导&nbsp;入</a>&nbsp;
          <button class="btn   btn-Default btn-flat" url="{:U('sort',array('pid'=>I('get.pid',0)),'')}">排&nbsp;序</button>&nbsp;
      </div>
          <!-- 高级搜索 -->
          <div class="col-xs-6  ">
              <div class="sleft">
                  <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入菜单名称">
                  <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
          </div>
      </div>
    </div>
    <br>
    <div class="centent table-responsive">
        <form class="ids">
            <table class="table table-hover table-striped">
                <thead>
                    <tr class="info">
                        <td class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </td>
                        <td>ID</td>
                        <td>名称</td>
                        <td>上级菜单</td>
                        <td>分组</td>
                        <td>URL</td>
                        <td>排序</td>
                        <td>开发者模式</td>
                        <td>状态</td>
                        <td>&nbsp;操&nbsp;作</td>
                    </tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="menu">
                    <tr class="default">
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$menu.id}"></td>
                        <td>{$menu.id}</td>
                        <td>
                            <a  href="{:U('index?pid='.$menu['id'])}" class="text-success">{$menu.title}</a>
                        </td>
                        <td>{$menu.up_title|default='顶级'}</td>
                        <td>{$menu.group}</td>
                        <td>{$menu.url}</td>
                        <td>{$menu.sort}</td>
                        <td>
                            <!-- <a href="{:U('toogleDev',array('id'=>$menu['id'],'value'=>abs($menu['is_dev']-1)))}" class="text-success">
                            {$menu.is_dev_text}
                            </a> -->
                            <if condition="$menu.is_dev eq 1">
                            <div  ><i class="fa fa-check fa-2x " style="color:#5cb85c"></i></div>
                            <else />
                             <i class="fa  fa-remove fa-2x "style="color:#f0ad4e"> </i>
                            </if>
                        </td>
                        <td>
                            <!-- <a href="{:U('toogleHide',array('id'=>$menu['id'],'value'=>abs($menu['hide']-1)))}" class="text-success">
                            {$menu.hide_text}
                            </a> -->
                            <if condition="$menu.hide eq 1">
                            <div><i class="fa fa-check fa-2x " style="color:#5cb85c"></i></div>
                            <else />
                             <i class="fa  fa-remove fa-2x "style="color:#f0ad4e"> </i>
                            </if>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning" title="编辑" href="{:U('edit?id='.$menu['id'])}">编辑</a>
                            <a class="btn btn-sm btn-warning" title="删除" href="{:U('del?id='.$menu['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="10" class="text-center"> Ah! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">

        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>
